// /* You can add global styles to this file, and also import other style files */
// ion-picker {
//     position: fixed !important;
//     z-index: 1000 !important;
// }

.backdrop-no-scroll {
    ion-picker {
        position: fixed !important;
        z-index: 1000 !important;
    }
}

.cdk-global-scrollblock {
    position: fixed !important;
}